entrypoint = "run.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[packaging]
build = ["pip install -r requirements.txt"]

[deployment]
run = ["python3", "run.py"]
deploymentTarget = "cloudrun"
